.post-detail {
    margin: 60px 0px;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.data-not-found{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40vh 0px;
}    