body {
    margin: 0px;
    padding: 0px;
}

.innerHTMLData {

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-color: #865aef;
        border-style: solid;
        border-width: 1px;

        h2 {
            font-size: 24px;
            font-weight: 700;
            color: #261d3c;

            b {
                a {
                    text-decoration: none;
                }
            }

            strong {
                a {
                    text-decoration: none;
                }
            }
        }
    }

    table{
     width: 100%;
    }
}

.innerHTMLData1 {
    margin-bottom: 10px;

    tbody {
        outline: 2px solid #865aef;
        border-radius: 2px;
        tr {
            td {
                padding: 10px;

                a {
                    text-decoration: none;
                }
            }

            h1 {
                font-size: 16px;
                font-weight: 700;
                color: #865aef;
            }
        }
    }
    table{
        max-width: 675px;
    }
}

.job-detail {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #dcd0ff;
}

.shapes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4c1ff73;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shapes {
    width: 44.8px;
    height: 44.8px;
    color: #865aef;
    position: relative;
    background: radial-gradient(11.2px, currentColor 94%, #0000);
}

.shapes:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(10.08px at bottom right, #0000 94%, currentColor) top left,
        radial-gradient(10.08px at bottom left, #0000 94%, currentColor) top right,
        radial-gradient(10.08px at top right, #0000 94%, currentColor) bottom left,
        radial-gradient(10.08px at top left, #0000 94%, currentColor) bottom right;
    background-size: 22.4px 22.4px;
    background-repeat: no-repeat;
    animation: shapes-77ngqcmd 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes shapes-77ngqcmd {
    33% {
        inset: -11.2px;
        transform: rotate(0deg);
    }

    66% {
        inset: -11.2px;
        transform: rotate(90deg);
    }

    100% {
        inset: 0;
        transform: rotate(90deg);
    }
}