<div class="home-page">
  <ng-container *ngIf="jobListData">
    <ng-container *ngFor="let jobs of jobListData">
      <div class="post-list">
        <h2>{{jobs?.post_name}}</h2>
        <div class="post-sub-list">
          <ng-container *ngFor="let item of jobs?.postdata">
            <a class="post-link" [routerLink]="item?.id" routerLinkActive="active">{{item?.data_name}}</a>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="shapes-container" *ngIf="isLoading">
    <div class="shapes"></div>
  </div>

  <div class="data-not-found" *ngIf="!jobListData">
    <h2>No Records!</h2>
  </div>

</div>